$gray-light: #a0b3b0;
$main: #866efb;
$background: rgb(175, 185, 206);

#pa-page {
  margin-top: 20px;
  #pa-header {
    margin: auto;
    overflow: auto;

    .buttons {
      float: right;
      .button {
        display: inline-block;
        background-color: #866efb;
        padding: 20px;
        width: 200px;
        color: #ffffff;
        text-align: center;
        border: 4px double #cccccc;
        border-radius: 10px;
        font-size: 15px;
        margin: 5px;
        margin-bottom: 0;
        cursor: pointer;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        &:hover {
          background-color: green;
        }
      }
    }
    #pa-title {
      float: left;
      padding: 20px;
      margin: 5px;
      margin-bottom: 0;
      font-size: 28px;
    }
  }
}

#product_form {
  margin: auto 350px;
  margin-top: 10px;
  text-align: center;

  border: 2px solid gray;
  border-radius: 10px;
  fieldset {
    display: block;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: none;
    text-align: right;
    margin: auto;
  }
  input,
  #productType {
    width: 90%;
    font-size: 22px;
    height: 40px;
    padding: 5px 10px;
    background: $background;
    background-image: none;
    border: 3px solid $gray-light;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    transition: border-color 0.25s ease, box-shadow 0.25s ease;
    &:focus {
      outline: 0;
      border-color: $main;
    }
    margin-right: 10px;
  }

  label {
    margin-left: 0;
    float: left;
  }
}

.error {
  color: red;
}

@mixin mobile-tab {
  #pa-page {
    margin-top: 10px;
    #pa-header {
      width: 100%;
      margin-bottom: 10px;
      .buttons {
        .button {
          padding: 10px;
          width: 80px;
          border-radius: 5px;
          margin-left: 0;
        }
      }
      #pa-title {
        padding: 10px;
        font-size: 15px;
        margin-right: 0;
        padding-right: 0;
      }
    }
  }

  #product_form {
    margin: auto 20px;
    margin-top: 10px;
  }

}
@media screen and (max-width: 480px) {
  @include mobile-tab;
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  @include mobile-tab;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  @include mobile-tab;
}
